In this notebook, I am going to generate a list of companies called Dividend Aristocrats. There are some requirements for companies to be selected in the group of Dividend Aristocrats, I will make the process simple by selecting companies in S&P 500 which have paid out dividends at least 25 years. I can add more requirements on top of the threshold of 25 years.

In [8]:
import yfinance as yf
import pandas as pd
import datetime as dt
import json

## Load Annual Dividend Data from JSON

In [3]:
with open('data/historical_div_sp500.json', 'r') as fp:
    div_data = json.load(fp)

In [22]:
print(companies['MMM'][0]['1970'])
# increase = 0
# decrease = 0
# same = 0

# for i in range(1970, 2019):
#     if companies['MMM'][0][i] < companies['MMM'][0][i+1]:
#         increase += 1
#     elif companies['MMM'][0][i] > companies['MMM'][0][i+1]:
#         decrease += 1
#     else:
#         same += 1
# print(increase, decrease, same)

rate_change = []
for i in range(2000, 2019):
    last_year = companies['MMM'][0][str(i)]
    this_year = companies['MMM'][0][str(i + 1)]
    rate_change.append(round(((this_year - last_year) / last_year), 2))

print(sum(rate_change) / len(rate_change))

0.082
0.09052631578947369

## List of Dividend Kings

In [91]:
div_kings = {}
aristocrats = {}
for company in companies.keys():
    years = companies[company][1]
    if years >= 50:
        div_kings[company] = years
    else:
        aristocrats[company] = years

In [92]:
div_kings

{'MMM': 51,
 'MO': 59,
 'AEP': 51,
 'BA': 59,
 'CNP': 59,
 'KO': 59,
 'ED': 59,
 'DTE': 59,
 'XOM': 59,
 'GE': 59,
 'HON': 51,
 'HWM': 59,
 'HPQ': 56,
 'IBM': 59,
 'IP': 59,
 'JNJ': 59,
 'MRO': 59,
 'MRK': 51,
 'PG': 59,
 'RTX': 51}

In [90]:
div_kings_df = pd.DataFrame.from_dict(
    div_kings,
    orient='index',
    columns=['Consecutive Years of Dividend Payment'])
div_kings_df.sort_values(by=['Consecutive Years of Dividend Payment'],
                         ascending=False).head(20)

     Consecutive Years of Dividend Payment
XOM                                     59
GE                                      59
JNJ                                     59
IP                                      59
IBM                                     59
HWM                                     59
MO                                      59
MRO                                     59
DTE                                     59
ED                                      59
KO                                      59
CNP                                     59
BA                                      59
PG                                      59
HPQ                                     56
MRK                                     51
MMM                                     51
HON                                     51
AEP                                     51
RTX                                     51

In [96]:
len(div_kings)

20

## List of Dividend Aristocrats

In [94]:
aristocrats_df = pd.DataFrame.from_dict(
    aristocrats,
    orient='index',
    columns=['Consecutive Years of Dividend Payment'])
aristocrats_df.sort_values(by=['Consecutive Years of Dividend Payment'],
                           ascending=False).head(20)

     Consecutive Years of Dividend Payment
PEP                                     49
TXN                                     49
EMR                                     49
DE                                      49
HAL                                     49
LLY                                     49
DD                                      49
BMY                                     49
PFE                                     49
ETN                                     49
WFC                                     49
CL                                      48
EXC                                     48
WMT                                     47
IFF                                     47
AXP                                     44
WY                                      44
GD                                      42
PEG                                     41
UNP                                     41

In [95]:
len(aristocrats)

183

In [ ]:
# import matplotlib.pyplot as plt

# x_value = [i for i in companies['MMM'][0].keys()]
# y_value = [i for i in companies['MMM'][0].values()]

# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# ax.bar(x_value,y_value)
# # plt.plot(x_value,y_value)
# plt.title('Dividen')
# plt.xlabel('Year')
# plt.ylabel('Amount of dividen')
# plt.show()