# Dividend Aristocrats

## Get Stock Symbols from S&P 500

In [9]:
import yfinance as yf
import pandas as pd
import datetime as dt

In [10]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [11]:
sp500 = data[0]
sp500 = sp500[['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry', 'Date first added']]
sp500.head(10)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Date first added
0,MMM,3M Company,Industrials,Industrial Conglomerates,1976-08-09
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,1964-03-31
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,2012-12-31
3,ABMD,Abiomed,Health Care,Health Care Equipment,2018-05-31
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,2011-07-06
5,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,2015-08-31
6,ADBE,Adobe Inc.,Information Technology,Application Software,1997-05-05
7,AMD,Advanced Micro Devices,Information Technology,Semiconductors,2017-03-20
8,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,2015-07-09
9,AES,AES Corp,Utilities,Independent Power Producers & Energy Traders,1998-10-02

In [12]:
sp500_symbols = sp500['Symbol'].values.tolist()
sp500_sectors = list(set(sp500['GICS Sector'].values.tolist()))

sp500_symbols_new = []

for symbol in sp500_symbols:
    if '.' in symbol:
        sp500_symbols_new.append(symbol.replace('.','-'))
    else:
        sp500_symbols_new.append(symbol)

sp500_symbols = sp500_symbols_new

## Retrieve Dividend Data

In [68]:
companies = {}
#sp500_symbols = ['AAPL', 'JNJ']
# for symbol in sp500_symbols:
symbol = 'MMM'
    
prices = yf.Ticker(symbol).history(period='max')
dividends = prices[prices['Dividends'] > 0]
if len(dividends) > 0:
    first_year = dividends.index[0].year
# else:
#     continue
last_year = dt.datetime.today().year
annual_div = {}

for year in range(first_year, last_year):
    div_sum = dividends[dividends.index.year ==  year]['Dividends'].sum()
    if div_sum == 0: # dividend discontinued --> no consistency
        break
    else:
        annual_div[year] = div_sum

if len(annual_div) >= 25: # dividend aristocrats
    companies[symbol] = []
    companies[symbol].append(annual_div)
    companies[symbol].append(len(annual_div))

In [62]:
print(companies['MMM'][0][1970])
# increase = 0
# decrease = 0
# same = 0

# for i in range(1970, 2019):
#     if companies['MMM'][0][i] < companies['MMM'][0][i+1]:
#         increase += 1
#     elif companies['MMM'][0][i] > companies['MMM'][0][i+1]:
#         decrease += 1
#     else:
#         same += 1
# print(increase, decrease, same)

rate_change = []
for i in range(2000, 2019):
    last_year = companies['MMM'][0][i]
    this_year = companies['MMM'][0][i+1]
    rate_change.append(round(((this_year - last_year) / last_year),2))
    
print(sum(rate_change)/len(rate_change))
        
    
# import matplotlib.pyplot as plt

# x_value = [i for i in companies['MMM'][0].keys()]
# y_value = [i for i in companies['MMM'][0].values()]

# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# ax.bar(x_value,y_value)
# # plt.plot(x_value,y_value)
# plt.title('Dividen')
# plt.xlabel('Year')
# plt.ylabel('Amount of dividen')
# plt.show()

0.082
0.09052631578947369

## List of Dividend Kings

In [63]:
div_kings = {}
aristocrats = {}
for company in companies.keys():
    years = companies[company][1]
    if years >= 50:
        div_kings[company] = years
    else:
        aristocrats[company] = years

In [65]:
div_kings

{'MMM': 51}

In [90]:
div_kings_df = pd.DataFrame.from_dict(div_kings, orient='index', columns=['Consecutive Years of Dividend Payment'])
div_kings_df.sort_values(by = ['Consecutive Years of Dividend Payment'], ascending=False).head(20)

     Consecutive Years of Dividend Payment
XOM                                     59
GE                                      59
JNJ                                     59
IP                                      59
IBM                                     59
HWM                                     59
MO                                      59
MRO                                     59
DTE                                     59
ED                                      59
KO                                      59
CNP                                     59
BA                                      59
PG                                      59
HPQ                                     56
MRK                                     51
MMM                                     51
HON                                     51
AEP                                     51
RTX                                     51

In [66]:
len(div_kings)

1

## List of Dividend Aristocrats

In [94]:
aristocrats_df = pd.DataFrame.from_dict(aristocrats, orient='index', columns=['Consecutive Years of Dividend Payment'])
aristocrats_df.sort_values(by = ['Consecutive Years of Dividend Payment'], ascending=False).head(20)

     Consecutive Years of Dividend Payment
PEP                                     49
TXN                                     49
EMR                                     49
DE                                      49
HAL                                     49
LLY                                     49
DD                                      49
BMY                                     49
PFE                                     49
ETN                                     49
WFC                                     49
CL                                      48
EXC                                     48
WMT                                     47
IFF                                     47
AXP                                     44
WY                                      44
GD                                      42
PEG                                     41
UNP                                     41

In [95]:
len(aristocrats)

183