In [16]:
import financial_data_helper_func as hf
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import datetime as dt

In [26]:
stock = 'BA'

START_DATE = dt.datetime(1970,1,1)
END_DATE = dt.datetime.today()

df = web.DataReader(stock, 'yahoo',START_DATE,END_DATE)

df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1970-01-02,0.979424,0.925926,0.925926,0.979424,634400.0,0.284648
1970-01-05,1.024691,1.008230,1.008230,1.016461,741000.0,0.295412
1970-01-06,1.049383,1.024691,1.024691,1.028807,1354400.0,0.299000
1970-01-07,1.045267,1.020576,1.028807,1.032922,646400.0,0.300196
1970-01-08,1.037037,1.008230,1.032922,1.020576,807600.0,0.296608
...,...,...,...,...,...,...
2020-12-18,223.460007,218.610001,222.050003,219.750000,19092800.0,219.750000
2020-12-21,219.429993,211.100006,212.339996,219.309998,18726500.0,219.309998
2020-12-22,223.889999,217.699997,223.279999,218.779999,13280000.0,218.779999
2020-12-23,224.399994,219.320007,219.550003,219.690002,10869000.0,219.690002
2020-12-24,219.880005,216.050003,219.619995,217.149994,6398500.0,217.149994

In [27]:
monthly = df.resample('M').first()
monthly.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1970-01-31  0.979424  0.925926  0.925926  0.979424   634400.0   0.284648
1970-02-28  0.786008  0.732510  0.757202  0.732510  1497000.0   0.212888
1970-03-31  0.823045  0.794239  0.823045  0.794239   822600.0   0.230828
1970-04-30  0.753086  0.736625  0.748971  0.736625   473600.0   0.214084
1970-05-31  0.666667  0.650206  0.650206  0.666667   698400.0   0.194737

In [28]:
weekly = df.resample('W').first()

In [29]:
weekly.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-11-29,214.210007,201.869995,203.240005,211.529999,28372400.0,211.529999
2020-12-06,217.779999,208.520004,215.699997,210.710007,16501900.0,210.710007
2020-12-13,244.080002,237.110001,238.500000,238.169998,33246700.0,238.169998
2020-12-20,237.630005,228.369995,235.000000,228.619995,19231200.0,228.619995
2020-12-27,219.429993,211.100006,212.339996,219.309998,18726500.0,219.309998